<% div_for comment do %>
    <div class="avatar">
        <%= image_tag comment.gravatar, :size => "48x48" %>
    </div>
    <div class="comment_body">
        <div class="commenter">
            <%= link_to comment.commenter, (comment.website || root_path) %>
        </div>
        <div class="comment_content">
            <%= h comment.content %>
        </div>
        <% if current_user %>
        <div class="delete_comment">
            <%= link_to t('common.destroy'), [@post, comment], :confirm => t("comments.confirm"), :method => :delete %>
        </div>
        <% end %>
    </div>
<% end %>