if(<%=  @posts.count > 0 %>) {
    $("posts_list").update("<%= escape_javascript(render @posts) %>");
    $$(".pagination")[0].hide();
}
else {
    $("posts_list").update("<p id='not_found'><%= t('post.not_found') -%></p>");
    $$(".pagination")[0].hide();
}

